<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Scorecards - Admin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
        <nav>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="predictions.html">Play</a>
                    </li>
                    <li>
                        <a href="results.html">Results</a>
                    </li>
                    <li>
                        <a href="scorecard.html">Scorecard</a>
                    </li>
                    <li>
                        <a href="leaderboards.html">Leaderboards</a>
                    </li>
                    <li>
                        <a href="settings.html">Settings</a>
                    </li>
                    <li class="flex-hang-right">
                        <a href="login.html">Login</a>
                    </li>
                </ul>
        </nav>

        <table id="allScoreCards">
            <tr>
                <th> Round No. </th>
                <th> Match 1 </th>
                <th> Match 2 </th>
                <th> Match 3 </th>
                <th> Match 4 </th>
                <th> Match 5 </th>
                <th> Match 6 </th>
                <th> Delete </th>

            </tr>

        </table>







    <script src="js/allScorecardsAdmin.js">

    </script>
</body>
</html>