<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Play Mighty Ducks</title>   
    <link rel="stylesheet" media="screen and (min-width:415px)" href="css/main.css">
    <link rel="stylesheet" media="screen and (max-width:414px)" href="css/main-mobile.css">
 
</head>

<body>

    <header>
        <div class="container">
            <div class="menu">
                <div class="menu_icon">
                    <img id="menu_bar_icon" src="images/Menu Bars Icon.png"  alt="Menu Bar">
                </div>
            </div>

            <!-- Navigation Bar -->
            <nav>
                <ul id="nav_bar">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="login.html">Log In</a></li>
                    <li><a href="registration.html">Register</a></li>
                    <li><a href="results.html">Result</a></li>
                    <li><a href="leaderboards.html">Leaderboards</a></li>
                    <li><a href="predictions.html">Predictions</a></li>
                    <li><a href="leagues.html">Leagues</a></li>
                    <li><a href="/settings.html">Settings</a></li>
                </ul>
            </nav>
        </div>
    </header>

     <div class="container">
        <div class="banner">
            <img id="index_banner_image" src="images/Index Banner.jpg" alt="Mighty Ducks Banner Image">
        </div>

        <div class="content">
            <div class="main">
                <!-- Current Scorecard -->
                <h2 id="current_week"></h2>

                <!-- Current Scorecard -->
                <div class="flex-container">
                    <div class="grid-item">
                        <h3 id="game_header">Game #1</h3>
                        <div class="matchInfo">
                            <img class="current_home" id="home_1" src="" alt="Home 1" width="80" height="80">
                            <img class="versus" id="versus_1" src="" alt="Versus" width="80" height="80">
                            <img class="current_away" id="away_1" src="" alt="Away 1" width="80" height="80">
                        </div>
                    </div>
                    <div class="grid-item">
                        <h3 id="game_header">Game #2</h3>
                        <div class="matchInfo">
                            <img class="current_home" id="home_2" src="" alt="Home 2" width="80" height="80">
                            <img class="versus" id="versus_2" src="" alt="Versus" width="80" height="80">
                            <img class="current_away" id="away_2" src="" alt="Away 2" width="80" height="80">
                        </div>
                    </div>
                    <div class="grid-item">
                        <h3 id="game_header">Game #3</h3>
                        <div class="matchInfo">
                            <img class="current_home" id="home_3" src="" alt="Home 3" width="80" height="80">
                            <img class="versus" id="versus_3" src="" alt="Versus" width="80" height="80">
                            <img class="current_away" id="away_3" src="" alt="Away 3" width="80" height="80">
                        </div>
                    </div>
                </div>
                <div class="flex-container">
                    <div class="grid-item">
                        <h3 id="game_header">Game #4</h3>
                        <div class="matchInfo">
                            <img class="current_home" id="home_4" src="" alt="Home 4" width="80" height="80">
                            <img class="versus" id="versus_4" src="" alt="Versus" width="80" height="80">
                            <img class="current_away" id="away_4" src="" alt="Away 4" width="80" height="80">
                        </div>
                    </div>
                    <div class="grid-item">
                        <h3 id="game_header">Game #5</h3>
                        <div class="matchInfo">
                            <img class="current_home" id="home_5" src="" alt="Home 5" width="80" height="80">
                            <img class="versus" id="versus_5" src="" alt="Versus" width="80" height="80">
                            <img class="current_away" id="away_5" src="" alt="Away 5" width="80" height="80">
                        </div>
                    </div>
                    <div class="grid-item">
                        <h3 id="game_header">Game #6</h3>
                        <div class="matchInfo">
                            <img class="current_home" id="home_6" src="" alt="Home 6" width="80" height="80">
                            <img class="versus" id="versus_6" src="" alt="Versus" width="80" height="80">
                            <img class="current_away" id="away_6" src="" alt="Away 6" width="80" height="80">
                        </div>
                    </div>
                </div>

                <!-- How to play information -->
                <div id="homepage_howtoplay_content">
                    <h2 id="homepage_header2">How to Play</h2>
                    <p align="justify"> 1. Create an account or login using your existing account details.</p>
                    <p align="justify"> 2. Enter your predictions for the different aspects of the six games (e.g.
                        Score
                        Result,
                        Match Winner First player to score each week, etc).</p>
                    <p align="justify"> 3. Sit back, relax and keep an eye out for the results at the end of the week!
                        Correct
                        predictions will earn you points and help you rise up the leaderboards.</p>
                </div>

                <div id="prediction_button">
                    <button id="play" value="Play" onclick="location.href='predictions.html'">Play</button>
                </div>

            </div>
        </div> 
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/populateScorecard.js"></script>
</body>

</html>