<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Play Mighty Ducks</title>
    <link rel="stylesheet" href="css/index-style.css">
</head>

<body>
    <div class="header_container">
        <header id="header">
            <!--id="homepage_heading1" Home Page Title -->
            <h1 id="heading1">Mighty Ducks</h1>

            <!-- Navigation Bar -->
            <nav>
                <ul id="nav_bar">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="login.html">Log In</a></li>
                    <li><a href="registration.html">Register</a></li>
                    <li><a href="results.html">Result</a></li>
                    <li><a href="leaderboards.html">Leaderboards</a></li>
                    <li><a href="scorecard.html">Scorecard</a></li>
                    <li><a href="predictions.html">Predictions</a></li>
                    <li><a href="leagues.html">Leagues</a></li>
                    <li><a href="settings.html">Settings</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <!-- Image Banner -->
    <img id="homepage_banner" src="img/mighty_duck_banner.png" alt="Might Ducks Logo Image" width="300" height="300">

    <!-- How to play information -->
    <section id="homepage_howtoplay_content">
        <h2 id="homepage_header2">How to Play</h2>
        <p align="justify"> 1. Create an account or login using your existing account details.</p>
        <p align="justify"> 2. Enter your predictions for the different aspects of the six games (e.g. Score Result,
            Match Winner First player to score each week, etc).</p>
        <p align="justify"> 3. Sit back, relax and keep an eye out for the results at the end of the week! Correct
            predictions will earn you points and help you rise up the leaderboards.</p>
    </section>

    <!-- Previous Week's Results -->
    <h2 id="homepage_header2">Current Week: 8</h2>
    <footer>

    </footer>
</body>

</html>