<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insert Scorecard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="predictions.html">Play</a>
            </li>
            <li>
                <a href="results.html">Results</a>
            </li>
            <li>
                <a href="leaderboards.html">Leaderboards</a>
            </li>
            <li>
                <a href="settings.html">Settings</a>
            </li>
            <li class="flex-hang-right">
                <a href="login.html">Login</a>
            </li>
            <li>
                <a href="registration.html">Register</a>
            </li>
        </ul>
    </nav>

    <!-- Scorecard Page Title -->
    <h1 id="scorecard_header_1">Insert Scorecard</h1>
    <form id="insert_scorecard_form">
            <div>
                <label for="date">Date: </label><input type="date" name="date" id="date" required>
            </div>
            <div class="selectPosition">
                <div><label for="home_1_option">Home Team 1: </label>
                    <select name="home_1_option" id="home_1_option" required></select></div>
                <div><label for="away_1_option">Away Team 1: </label>
                    <select name="away_1_option" id="away_1_option" required></select></div>
            </div>
            <div class="selectPosition">
                <div><label for="home_2_option">Home Team 2: </label>
                    <select name="home_2_option" id="home_2_option"></select></div>
                <div><label for="away_2_option">Away Team 2: </label>
                    <select name="away_2_option" id="away_2_option"></select></div>
            </div>
            
            <div class="selectPosition">
                <div><label for="home_3_option">Home Team 3: </label>
                    <select name="home_3_option" id="home_3_option"></select></div>
                <div><label for="away_3_option">Away Team 3: </label>
                    <select name="away_3_option" id="away_3_option"></select></div>
            </div>

            <div class="selectPosition">
                <div><label for="home_4_option">Home Team 4: </label>
                    <select name="home_4_option" id="home_4_option"></select></div>
                <div><label for="away_4_option">Away Team 4: </label>
                    <select name="away_4_option" id="away_4_option"></select></div>
            </div>

            <div class="selectPosition">
                <div><label for="home_5_option">Home Team 5: </label>
                    <select name="home_5_option" id="home_5_option"></select></div>
                <div><label for="away_5_option">Away Team 5: </label>
                    <select name="away_5_option" id="away_5_option"></select></div>
            </div>
            
            <div class="selectPosition">
                <div><label for="home_6_option">Home Team 6: </label><select name="home_6_option" id="home_6_option"></select></div>
                <div><label for="away_6_option">Away Team 6: </label><select name="away_6_option" id="away_6_option"></select></div>
            </div>

            <div>
                <input type="submit" id="insert_scorecard" value="Insert Scorecard" class="buttons">
            </div>

    </form>
</body>
<script src="js/insertHockeyTeamName.js"></script>
<script src="js/insertScorecard.js"></script>

</html>