<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Leaderboards</title>
    <link rel="stylesheet" type="text/css" href="leaderboards.css"/>
</head>
<body>

    <!-- NAV BAR -->

    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Results</a></li>
            <li><a href="">Scorecard</a></li>
            <li><a href="">Leaderboards</a></li>
            <li><a href="">Settings</a></li>
            <li class="flex-hang-right"><a href="">Login</a></li>
        </ul>
    </nav>

    <!-- END NAV BAR -->


    <!-- small centred menu for current scorecard, week and current season -->
    <div class="flex-container flex-column">
        <div class="small-centered-menu flex-container">
            <button>Current</button>
            <button>Week</button>
            <button>Season</button>

        </div>
        <br/>
        <div class="large-centered-menu flex-container">

        </div>
    </div>
    <!-- small centred menu end -->


    <div class="leaderboards-container">

    </div>


</body>
</html>