<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Leaderboards</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

    <!-- NAV BAR -->

    <nav>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="predictions">Play</a>
            </li>
            <li>
                <a href="results">Results</a>
            </li>
            <li>
                <a href="leaderboards">Leaderboards</a>
            </li>
            <li>
                <a href="settings">Settings</a>
            </li>
            <li class="flex-hang-right" id="login">
                <a href="login.html">Login</a>
            </li>
            <li id="register">
                <a href="registration.html">Register</a>
            </li>
            <li class="flex-hang-right" style="display:none" id= "logout">
                <a href="#" id="logout">Logout</a>
            </li>
        </ul>
    </nav>

    <!-- END NAV BAR -->

    <h1>Leaderboard</h1>
    <!-- small centred menu for current scorecard, week and current season -->
    <div class="flex-container flex-column">
        <div class="small-centered-menu flex-container">
            <button>Current</button>
            <button>Week</button>
            <button>Season</button>
        </div>
        <br/>
                <div class="leaderboards-container large-centered-menu flex-container">
                        <table id="Leaderboards" >
                            <tr>
                                <th>
                                    Position
                                </th>
                                <th>
                                    User
                                </th>
                                <th>
                                    Score
                                </th>
                            </tr>
                        </table>
                
                    </div>

        
    </div>
    <!-- small centred menu end -->




<script src="globalLeaderboards.js">



//console.log(results);
</script>
</body>
</html>