<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Login</title>
</head>
<body>
    
    <div class="container">
        <h1>Login</h1>

        <form action="" id=frmLogin>
                <div>
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email" required>
                </div>

                <div>
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" required>        
                </div>
           
        </form>

        <div class="buttons">
            <input type="submit" value="Login" id = "register"  >
        </div>
        
        <div class="buttons">
            <button  onclick="location.href='registration.html';"> Register a new account</button>
        </div>
    </div>

</body>

<script>

</script>
</html>