<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scorecard</title>
</head>

<body>
    <!-- Scorecard Page Title -->
    <h1 id="scorecard_header1">Score Cards</h1>

    <!-- Navigation Bar -->
    <nav id="nav_bar">
        <ul id="nav_bar">
            <li><a href="index.html">Home</a></li>
            <li><a href="login.html">Log In</a></li>
            <li><a href="registration.html">Register</a></li>
            <li><a href="results.html">Result</a></li>
            <li><a href="leaderboards.html">Leaderboards</a></li>
            <li><a href="scorecard.html">Scorecard</a></li>
            <li><a href="leagues.html">Leagues</a></li>
        </ul>
    </nav>

    <!-- Scorecard Details -->
    <form id="scorecardForm">
        <div id="match_1">
            <h3 id="game_header">Game #1</h3>
            <p><img id="team_image_1" src="" alt="Team 1">
                <input id="home_team_1_score" type="number" name="home_team_1_score" min="0" max="100" width="100"
                    required>
                <input id="away_team_1_score" type="number" name="away_team_1_score" min="0" max="100" width="100"
                    required>
                <img id="team_image_2" src="" alt="Team 2">
            </p>
            <p><label for="home_team_1_quarter_scores">Home Team Quarter Scores: </label>
                <label for="home_team_1_quarter_1_score">Q1: </label><input id="home_team_1_quarter_1_score" type="number"
                    name="home_team_1_quarter_1_score" min="0" max="100" width="100" required>
                <label for="home_team_1_quarter_2_score">Q2: </label><input id="home_team_1_quarter_2_score" type="number"
                    name="home_team_1_quarter_2_score" min="0" max="100" width="100" required>
                <label for="home_team_1_quarter_3_score">Q3: </label><input id="home_team_1_quarter_3_score" type="number"
                    name="home_team_1_quarter_3_score" min="0" max="100" width="100" required>
            </p>
            <p><label for="away_team_1_quarter_1_score">Away Team Quarter Scores: </label>
                <label for="away_team_1_quarter_1_score">Q1: </label><input id="away_team_1_quarter_1_score" type="number"
                    name="away_team_1_quarter_1_score" min="0" max="100" width="100" required>
                <label for="away_team_1_quarter_2_score">Q2: </label><input id="away_team_1_quarter_2_score" type="number"
                    name="away_team_1_quarter_2_score" min="0" max="100" width="100" required>
                <label for="away_team_1_quarter_3_score">Q3: </label><input id="away_team_1_quarter_3_score" type="number"
                    name="away_team_1_quarter_3_score" min="0" max="100" width="100" required>
            </p>
            <p><label for="first_player_1_to_score">First Player To Score: </label><input type="text" name="first_player_1_to_score"
                    id="first_player_1_to_score" pattern="[A-Za-z].{2,}" title="Please enter 3 or more letter characters only"
                    required></p>
        </div>

        <div id="match_2">
            <h3 id="game_header">Game #2</h3>
            <p><img id="team_image_3" src="" alt="Team 3">
                <input id="home_team_2_score" type="number" name="home_team_2_score" min="0" max="100" width="100"
                    required>
                <input id="away_team_2_score" type="number" name="away_team_2_score" min="0" max="100" width="100"
                    required>
                <img id="team_image_4" src="" alt="Team 4">
            </p>
            <p><label for="home_team_2_quarter_1_score">Home Team Quarter Scores: </label>
                <label for="home_team_2_quarter_1_score">Q1: </label><input id="home_team_2_quarter_1_score" type="number"
                    name="home_team_2_quarter_1_score" min="0" max="100" width="100" required>
                <label for="home_team_2_quarter_2_score">Q2: </label><input id="home_team_2_quarter_2_score" type="number"
                    name="home_team_2_quarter_2_score" min="0" max="100" width="100" required>
                <label for="home_team_2_quarter_3_score">Q3: </label><input id="home_team_2_quarter_3_score" type="number"
                    name="home_team_2_quarter_3_score" min="0" max="100" width="100" required>
            </p>
            <p><label for="away_team_2_quarter_1_score">Away Team Quarter Scores: </label>
                <label for="away_team_2_quarter_1_score">Q1: </label><input id="away_team_2_quarter_1_score" type="number"
                    name="away_team_2_quarter_1_score" min="0" max="100" width="100" required>
                <label for="away_team_2_quarter_2_score">Q2: </label><input id="away_team_2_quarter_2_score" type="number"
                    name="away_team_2_quarter_2_score" min="0" max="100" width="100" required>
                <label for="away_team_2_quarter_3_score">Q3: </label><input id="away_team_2_quarter_3_score" type="number"
                    name="away_team_2_quarter_3_score" min="0" max="100" width="100" required>
            </p>
            <p><label for="first_player_2_to_score">First Player To Score: </label><input type="text" name="first_player_2_to_score"
                    id="first_player_2_to_score" pattern="[A-Za-z].{2,}" title="Please enter 3 or more letter characters only"
                    required></p>
        </div>

        <div id="match_3">
            <h3 id="game_header">Game #3</h3>
            <p><img id="team_image_5" src="" alt="Team 5">
                <input id="home_team_3_score" type="number" name="home_team_3_score" min="0" max="100" width="100"
                    required>
                <input id="away_team_3_score" type="number" name="away_team_3_score" min="0" max="100" width="100"
                    required>
                <img id="team_image_6" src="" alt="Team 6">
            </p>
            <p><label for="home_team_3_quarter_1_score">Home Team Quarter Scores: </label>
                <label for="home_team_3_quarter_1_score">Q1: </label><input id="home_team_3_quarter_1_score" type="number"
                    name="home_team_3_quarter_1_score" min="0" max="100" width="100" required>
                <label for="home_team_3_quarter_2_score">Q2: </label><input id="home_team_3_quarter_2_score" type="number"
                    name="home_team_3_quarter_2_score" min="0" max="100" width="100" required>
                <label for="home_team_3_quarter_3_score">Q3: </label><input id="home_team_3_quarter_3_score" type="number"
                    name="home_team_3_quarter_3_score" min="0" max="100" width="100" required>
            </p>
            <p><label for="away_team_3_quarter_1_score">Away Team Quarter Scores: </label>
                <label for="away_team_3_quarter_1_score">Q1: </label><input id="away_team_3_quarter_1_score" type="number"
                    name="away_team_3_quarter_1_score" min="0" max="100" width="100" required>
                <label for="away_team_3_quarter_2_score">Q2: </label><input id="away_team_3_quarter_2_score" type="number"
                    name="away_team_3_quarter_2_score" min="0" max="100" width="100" required>
                <label for="away_team_3_quarter_3_score">Q3: </label><input id="away_team_3_quarter_3_score" type="number"
                    name="away_team_3_quarter_3_score" min="0" max="100" width="100" required>
            </p>
            <p><label for="first_player_3_to_score">First Player To Score: </label><input type="text" name="first_player_3_to_score"
                    id="first_player_3_to_score" pattern="[A-Za-z].{2,}" title="Please enter 3 or more letter characters only"
                    required></p>
        </div>

        <div id="match_4">
            <h3 id="game_header">Game #4</h3>
            <p><img id="team_image_7" src="" alt="Team 7">
                <input id="home_team_4_score" type="number" name="home_team_4_score" min="0" max="100" width="100"
                    required>
                <input id="away_team_4_score" type="number" name="away_team_4_score" min="0" max="100" width="100"
                    required>
                <img id="team_image_8" src="" alt="Team 8">
            </p>
            <p><label for="home_team_4_quarter_1_score">Home Team Quarter Scores: </label>
                <label for="home_team_4_quarter_1_score">Q1: </label><input id="home_team_4_quarter_1_score" type="number"
                    name="home_team_4_quarter_1_score" min="0" max="100" width="100" required>
                <label for="home_team_4_quarter_2_score">Q2: </label><input id="home_team_4_quarter_2_score" type="number"
                    name="home_team_4_quarter_2_score" min="0" max="100" width="100" required>
                <label for="home_team_4_quarter_3_score">Q3: </label><input id="home_team_4_quarter_3_score" type="number"
                    name="home_team_4_quarter_3_score" min="0" max="100" width="100" required>
            </p>
            <p><label for="away_team_4_quarter_1_score">Away Team Quarter Scores: </label>
                <label for="away_team_4_quarter_1_score">Q1: </label><input id="away_team_4_quarter_1_score" type="number"
                    name="away_team_4_quarter_1_score" min="0" max="100" width="100" required>
                <label for="away_team_4_quarter_2_score">Q2: </label><input id="away_team_4_quarter_2_score" type="number"
                    name="away_team_4_quarter_2_score" min="0" max="100" width="100" required>
                <label for="away_team_4_quarter_3_score">Q3: </label><input id="away_team_4_quarter_3_score" type="number"
                    name="away_team_4_quarter_3_score" min="0" max="100" width="100" required>
            </p>
            <p><label for="first_player_4_to_score">First Player To Score: </label><input type="text" name="first_player_4_to_score"
                    id="first_player_4_to_score" pattern="[A-Za-z].{2,}" title="Please enter 3 or more letter characters only"
                    required></p>
        </div>

        <div id="match_5">
            <h3 id="game_header">Game #5</h3>
            <p><img id="team_image_9" src="" alt="Team 9">
                <input id="home_team_5_score" type="number" name="home_team_5_score" min="0" max="100" width="100"
                    required>
                <input id="away_team_5_score" type="number" name="away_team_5_score" min="0" max="100" width="100"
                    required>
                <img id="team_image_10" src="" alt="Team 10">
            </p>
            <p><label for="home_team_5_quarter_1_score">Home Team Quarter Scores: </label>
                <label for="home_team_5_quarter_1_score">Q1: </label><input id="home_team_5_quarter_1_score" type="number"
                    name="home_team_5_quarter_1_score" min="0" max="100" width="100" required>
                <label for="home_team_5_quarter_2_score">Q2: </label><input id="home_team_5_quarter_2_score" type="number"
                    name="home_team_5_quarter_2_score" min="0" max="100" width="100" required>
                <label for="home_team_5_quarter_3_score">Q3: </label><input id="home_team_5_quarter_3_score" type="number"
                    name="home_team_5_quarter_3_score" min="0" max="100" width="100" required>
            </p>
            <p><label for="away_team_5_quarter_1_score">Away Team Quarter Scores: </label>
                <label for="away_team_5_quarter_1_score">Q1: </label><input id="away_team_5_quarter_1_score" type="number"
                    name="away_team_5_quarter_1_score" min="0" max="100" width="100" required>
                <label for="away_team_5_quarter_2_score">Q2: </label><input id="away_team_5_quarter_2_score" type="number"
                    name="away_team_5_quarter_2_score" min="0" max="100" width="100" required>
                <label for="away_team_5_quarter_3_score">Q3: </label><input id="away_team_5_quarter_3_score" type="number"
                    name="away_team_5_quarter_3_score" min="0" max="100" width="100" required>
            </p>
            <p><label for="first_player_5_to_score">First Player To Score: </label><input type="text" name="first_player_5_to_score"
                    id="first_player_5_to_score" pattern="[A-Za-z].{2,}" title="Please enter 3 or more letter characters only"
                    required></p>
        </div>

        <div id="match_6">
            <h3 id="game_header">Game #6</h3>
            <p><img id="team_image_11" src="" alt="Team 11">
                <input id="home_team_6_score" type="number" name="home_team_6_score" min="0" max="100" width="100"
                    required>
                <input id="away_team_6_score" type="number" name="away_team_6_score" min="0" max="100" width="100"
                    required>
                <img id="team_image_12" src="" alt="Team 12">
            </p>
            <p><label for="home_team_6_quarter_1_score">Home Team Quarter Scores: </label>
                <label for="home_team_6_quarter_1_score">Q1: </label><input id="home_team_6_quarter_1_score" type="number"
                    name="home_team_6_quarter_1_score" min="0" max="100" width="100" required>
                <label for="home_team_6_quarter_2_score">Q2: </label><input id="home_team_6_quarter_2_score" type="number"
                    name="home_team_6_quarter_2_score" min="0" max="100" width="100" required>
                <label for="home_team_6_quarter_3_score">Q3: </label><input id="home_team_6_quarter_3_score" type="number"
                    name="home_team_6_quarter_3_score" min="0" max="100" width="100" required>
            </p>
            <p><label for="away_team_6_quarter_1_score">Away Team Quarter Scores: </label>
                <label for="away_team_6_quarter_1_score">Q1: </label><input id="away_team_6_quarter_1_score" type="number"
                    name="away_team_6_quarter_1_score" min="0" max="100" width="100" required>
                <label for="away_team_6_quarter_2_score">Q2: </label><input id="away_team_6_quarter_2_score" type="number"
                    name="away_team_6_quarter_2_score" min="0" max="100" width="100" required>
                <label for="away_team_6_quarter_3_score">Q3: </label><input id="away_team_6_quarter_3_score" type="number"
                    name="away_team_6_quarter_3_score" min="0" max="100" width="100" required>
            </p>
            <p><label for="first_player_6_to_score">First Player To Score: </label><input type="text" name="first_player_6_to_score"
                    id="first_player_6_to_score" pattern="[A-Za-z].{2,}" title="Please enter 3 or more letter characters only"
                    required></p>
        </div>

        <div>
            <p><label for="all_matches_first_score_minute">First Score Minute: </label><input type="number" name="all_matches_first_score_minute"
                    id="all_matches_first_score_minute" min="1" max="60" required></p>
        </div>

        <div>
            <p><input type="submit" id="submit" value="Submit Predictions"></p>
        </div>
    </form>
</body>

<script src="js/addScorecard.js"></script>

</html>