<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Score Card</title>
</head>

<body>
    <!-- Score Cards Page Title -->
    <h1 id="scorecards_header1">Score Cards</h1>

    <!-- Navigation Bar -->
    <nav id="nav_bar">
        <ul>
            <li><a href="index.html">Play Might Ducks</a></li>
            <li><a href="">Sign Up</a></li>
            <li><a href="">Register</a></li>
            <li><a href="">Leaderboards</a> </li>
            <li><a href="scorecards.html">Score Cards</a></li>
            <li><a href="">Leagues</a></li>
        </ul>
    </nav>

    <!-- Score Card Details -->
    <div id="scorecard1">
        <h3 id="game_header">Game #1</h3>
        <img id="team_image" src="" alt="Team 1">
        <input id="quantity_box" type="number" name="quantity" min="0" max="100" value="0" width="100">
        <img id="team_image" src="" alt="Team 2">
        <input id="quantity_box" type="number" name="quantity" min="0" max="100" value="0" width="100">
    </div>

    <div id="scorecard2">
        <h3 id="game_header">Game #2</h3>
        <img id="team_image" src="" alt="Team 3">
        <input id="quantity_box" type="number" name="quantity" min="0" max="100" value="0" width="100">
        <img id="team_image" src="" alt="Team 4">
        <input id="quantity_box" type="number" name="quantity" min="0" max="100" value="0" width="100">
    </div>

    <div id="scorecard3">
        <h3 id="game_header">Game #3</h3>
        <img id="team_image" src="" alt="Team 5">
        <input id="quantity_box" type="number" name="quantity" min="0" max="100" value="0" width="100">
        <img id="team_image" src="" alt="Team 6">
        <input id="quantity_box" type="number" name="quantity" min="0" max="100" value="0" width="100">
    </div>

    <div id="scorecard4">
        <h3 id="game_header">Game #4</h3>
        <img id="team_image" src="" alt="Team 7">
        <input id="quantity_box" type="number" name="quantity" min="0" max="100" value="0" width="100">
        <img id="team_image" src="" alt="Team 8">
        <input id="quantity_box" type="number" name="quantity" min="0" max="100" value="0" width="100">
    </div>

    <div id="scorecard5">
        <h3 id="game_header">Game #5</h3>
        <img id="team_image" src="" alt="Team 9">
        <input id="quantity_box" type="number" name="quantity" min="0" max="100" value="0" width="100">
        <img id="team_image" src="" alt="Team 10">
        <input id="quantity_box" type="number" name="quantity" min="0" max="100" value="0" width="100">
    </div>

    <div id="scorecard6">
        <h3 id="game_header">Game #6</h3>
        <img id="team_image" src="" alt="Team 11">
        <input id="quantity_box" type="number" name="quantity" min="0" max="100" value="0" width="100">
        <img id="team_image" src="" alt="Team 12">
        <input id="quantity_box" type="number" name="quantity" min="0" max="100" value="0" width="100">
    </div>

</body>

</html>