<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scorecard</title>
    <link rel="stylesheet" href="css/scorecard-style.css">
</head>

<body>
    <!-- Scorecard Page Title -->
    <h1 id="scorecard_header1">Scorecard</h1>

    <!-- Navigation Bar -->
    <nav id="nav_bar">
        <ul id="nav_bar">
            <li><a href="index.html">Home</a></li>
            <li><a href="login.html">Log In</a></li>
            <li><a href="registration.html">Register</a></li>
            <li><a href="results.html">Result</a></li>
            <li><a href="leaderboards.html">Leaderboards</a></li>
            <li><a href="scorecard.html">Scorecard</a></li>
            <li><a href="predictions.html">Predictions</a></li>
            <li><a href="leagues.html">Leagues</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ul>
    </nav>

    <!-- Scorecard Form Details -->
    <form id="scorecardForm">
        <div id="match_1">
            <h3 id="game_header">Game #1</h3>
            <p>
                <img id="team_1" src="" alt="Team 1" width="150" height="150">
                <img id="versus" src="img/versus.png" alt="Versus" width="75" height="75">
                <img id="team_2" src="" alt="Team 2" width="150" height="150">
            </p>
        </div>
        <div id="match_2">
            <h3 id="game_header">Game #2</h3>
            <p>
                <img id="team_3" src="" alt="Team 3" width="150" height="150">
                <img id="versus" src="img/Versus.png" alt="Versus" width="75" height="75">
                <img id="team_4" src="" alt="Team 4" width="150" height="150">
            </p>
        </div>
        <div id="match_3">
            <h3 id="game_header">Game #3</h3>
            <p>
                <img id="team_5" src="" alt="Team 5" width="150" height="150">
                <img id="versus" src="img/versus.png" alt="Versus" width="75" height="75">
                <img id="team_6" src="" alt="Team 6" width="150" height="150">
            </p>
        </div>
        <div id="match_4">
            <h3 id="game_header">Game #4</h3>
            <p>
                <img id="team_7" src="" alt="Team 7" width="150" height="150">
                <img id="versus" src="img/versus.png" alt="Versus" width="75" height="75">
                <img id="team_8" src="" alt="Team 8" width="150" height="150">
            </p>
        </div>
        <div id="match_5">
            <h3 id="game_header">Game #5</h3>
            <p>
                <img id="team_9" src="" alt="Team 9" width="150" height="150">
                <img id="versus" src="img/versus.png" alt="Versus" width="75" height="75">
                <img id="team_10" src="" alt="Team 10" width="150" height="150">
            </p>
        </div>

        <div id="match_6">
            <h3 id="game_header">Game #6</h3>
            <p>
                <img id="team_11" src="" alt="Team 11" width="150" height="150">
                <img id="versus" src="img/versus.png" alt="Versus" width="75" height="75">
                <img id="team_12" src="" alt="Team 12" width="150" height="150">
            </p>
        </div>
    </form>

</body>
<script src="js/populateScorecard.js"></script>

</html>