.container{
    max-width: 400px;
    width: 100%;
	/* 1366x768	16:9*/
    margin: 0 auto;
}

body{
    background-color: black;
    color: aliceblue;
}
label{
    flex-basis: 400px;
}

form>div{
    display: flex;
    width: 400px;
    margin:auto;
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}

#dob{
    width: 190px;
}

#country{
    width: 200px;
}

.buttons{
    margin-top: 20px;
    width: 150px;
    margin: auto;
    padding: 10px;
    text-align: center; 
}

#signUp{
    margin-top: 20px;
    width: 200px;
    height: 100px;
    margin: auto;
}

#register{

    /* padding: 32px 16px; */
}

