*{
    box-sizing: border-box;
}

.container{
    max-width: 500px; 
    width: 100%;
	/* 1366x768	16:9*/
    margin: auto;
    margin-top: 100px;
}

form>div{
    display: flex;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-bottom: 1px solid #cccccc;
    justify-content: center;
}

label{
    flex-basis: 150px;
}

select{
    height: 25px;
}

h1{
    text-align: center;
}

.loginButtons{
    -webkit-appearance: none;
    width: 180px;
    height: 30px;
    text-align: center; 
}
.buttons{
    -webkit-appearance: none;

    width: 200px;
    height: 50px;
}
body {
    background-color: #D6C9CC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    width:100%;
    background-color: black;
    height: 47px;
}

nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: flex-start;

}

nav ul li {
    display: block;
    margin:0;
    padding: 8px;
    color: white;
    border-bottom: 2px solid #000000;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #FFFFFF;
}


nav ul li a:hover {
    color: #D6C9CC;
    
}

nav ul li:hover {
    border-bottom: 2px solid #FFFFFF;
    font-size: 1.5em;
}
.flex-hang-right {
    margin-left: auto;
    margin-right: 10px;
}

.small-centered-menu {
    margin-top: 20px;
    background-color: #FFFFFF;
    width: 90%;
    border-radius: 4px;
    height: 50px;
    justify-content: center;

}

.flex-container {
    display: flex;
    justify-content: center;
}

.small-centered-menu button {
    margin-left: 20px;
    margin-top: 5px;
    width: 100px;
    height: 40px;
}

.large-centered-menu {
    
    margin-top: 20px;
    background-color: #FFFFFF;
    width: 90%;
    border-radius: 4px;
    height: 50px;

}
.flex-column {
    flex-direction: column;
}

.selectPosition{
    margin-left: 35%;
}

/* Admin CSS */

#adminOptions {
    display: none;
}
.adminOptions {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#errorMessage{
    display: none;
    color:  red;
}

#country{
    width: 135px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
/* Index CSS */

#banner {
    display: flex;
    justify-content: center;
    position: relative;
    top: 25px;
}

#homepage_howtoplay_content {
    position: relative;
    top: 25px;
}

#current_week {
    position: relative;
    top: 25px;
}