* {
    box-sizing: border-box;
}
body {
    background-color: #D6C9CC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    width:100%;
    background-color: black;
    height: 47px;
}

nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: flex-start;

}

nav ul li {
    display: block;
    margin:0;
    padding: 8px;
    color: white;
    border-bottom: 2px solid #000000;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #FFFFFF;
}


nav ul li a:hover {
    color: #D6C9CC;
    
}

nav ul li:hover {
    border-bottom: 2px solid #FFFFFF;
    font-size: 1.5em;
}
.flex-hang-right {
    margin-left: auto;
    margin-right: 10px;
}

.small-centered-menu {
    margin-top: 20px;
    background-color: #FFFFFF;
    width: 50%;
    border-radius: 4px;
    height: 50px;

}

.flex-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 25px;
}

.small-centered-menu button {
    margin: auto;
    width: 100px;
    height: 40px;
}

.large-centered-menu {
    margin-top: 20px;
    background-color: #FFFFFF;
    width: 90%;
    border-radius: 4px;
    height: 50px;

}
.flex-column {
    flex-direction: column;
}

.matchInfo {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
}
  
.grid-item {
    background-color: #f1f1f1;
    flex-basis: 33%;
    margin: 10px;
    text-align: center;
}

h1{
    text-align: center;
}
#roundDropdown {
    width: 200px;
    height: 30px;
    margin: 15px;
}

#banner {
    display: flex;
    justify-content: center;
    position: relative;
    top: 25px;
}

#homepage_howtoplay_content {
    position: relative;
    top: 25px;
}

#current_week {
    position: relative;
    top: 25px;
}

#team_1 {
    position: relative;
    right: 75px;
    bottom: 10px;
}

#home_team_1_score {
    height: 50px;
}

#away_team_1_score {
    height: 50px;
}

#team_2 {
    position: relative;
    left: 75px;
    bottom: 10px;
}

#team_3 {
    position: relative;
    right: 75px;
    bottom: 10px;
}

#home_team_2_score {
    height: 50px;
}

#away_team_2_score {
    height: 50px;
}

#team_4 {
    position: relative;
    left: 75px;
    bottom: 10px;
}

#team_5 {
    position: relative;
    right: 75px;
    bottom: 10px;
}

#home_team_3_score {
    height: 50px;
}

#away_team_3_score {
    height: 50px;
}

#team_6 {
    position: relative;
    left: 75px;
    bottom: 10px;
}

#team_7 {
    position: relative;
    right: 75px;
    bottom: 10px;
}

#home_team_4_score {
    height: 50px;
}

#away_team_4_score {
    height: 50px;
}

#team_8 {
    position: relative;
    left: 75px;
    bottom: 10px;
}

#team_9 {
    position: relative;
    right: 75px;
    bottom: 10px;
}

#home_team_5_score {
    height: 50px;
}

#away_team_5_score {
    height: 50px;
}

#team_10 {
    position: relative;
    left: 75px;
    bottom: 10px;
}

#team_11 {
    position: relative;
    right: 75px;
    bottom: 10px;
}

#home_team_6_score {
    height: 50px;
}

#away_team_6_score {
    height: 50px;
}

#team_12 {
    position: relative;
    left: 75px;
    bottom: 10px;
}

#golden_goal {
    display:flex;
    justify-content: center;
    margin-top: 25px;
}

#submit_button {
    display: flex;
    justify-content: center;
    position: relative;
    top: 25px;
}

#submit_predictions {
    height: 50px;
    width: 100px;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
}
div{
    width: 100%;
}
