
.matchInfo{
    display: flex;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }
  
  .grid-item{
    background-color: #f1f1f1;
    flex-basis: 33%;
    margin: 10px;
    text-align: center;
  }

  #roundDropdown{
      width: 200px;
      height: 30px;
      margin: 15px;
  }
  
